#songContainer {
    flex-basis: 200px;
    flex-shrink: 0;
}

#albumInfoContainer {
    display: flex;
}

#songsList {
    height: 400px;
    /* Fixed height for 15 items */
    overflow-y: auto;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar for IE/Edge */
    width: 400px;
}

#songsList::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome/Safari */
}

#songsView {
    height: 400px;
    /* Fixed height for 15 items */
    overflow-y: auto;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar for IE/Edge */
    width: 400px;
}

#songsView::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome/Safari */
}

#albumsView {
    height: 400px;
    /* Fixed height for 15 items */
    overflow-y: auto;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar for IE/Edge */
    width: 400px;
}

#albumsView::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome/Safari */
}

#artistsView {
    height: 400px;
    /* Fixed height for 15 items */
    overflow-y: auto;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar for IE/Edge */
    width: 400px;
}

#artistsView::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome/Safari */
}

#albumsListView {
    height: 400px;
    /* Fixed height for 15 items */
    overflow-y: auto;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar for IE/Edge */
    width: 400px;
}

#songsListView {
    height: 400px;
}