body {
  color:white;
  background-color: #000000;
}

#playlistContainer {
  display: flex;;
  flex-direction: column;
  align-items: center;
}

.song-item {
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.song-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.highlight {
  color: #00ccff;
}

#albumArt {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

#audioPlayerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#timelineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  position: relative; 
  top: 30px;
  flex-basis: 500px;
  flex-shrink: 0;
  flex-grow: 1;
}

#timeline {
  flex-grow: 1;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

#progress {
  height: 100%;
  width: 0%;
  /* background-color: #00ccff; */
  background-color: white;
  border-radius: 5px;
  transition: width 0.1s ease;
}

#songContainer {
  flex-basis: 200px;
  flex-shrink: 0;
}

#controlsContainer {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  flex-grow: 1;
}

#volumeControlContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
}

#volumeTimeline {
  flex-grow: 1;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

#volumeProgress {
  height: 100%;
  width: 100%; /* Start with full width */
  background-color: white;
  border-radius: 5px;
}

#volumeSlider {
  display: none; /* Hide the slider visually since we're using #volumeTimeline */
}